<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2>Flight information</h2>
        </div>
    </div>
    <div class="row" ng-if="ctrl.msg">
        <div class="mx-auto">
            <p class="text-danger">{{ctrl.msg}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Flight start</th>
                    <th scope="col">Flight end</th>
                    <th scope="col">Number od seats</th>
                    <th scope="col">Number of tourists</th>
                    <th scope="col">Ticket price</th>
                    <th scope="col">Flight code</th>
                    <th scope="col" class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{flight.flightStart | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{flight.flightEnd | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{flight.numberOfSeats}}</td>
                    <td>{{flight.numberOfTourist}}</td>
                    <td>{{flight.ticketPrice}}</td>
                    <td>{{flight.ticketPrice}}</td>
                    <td>{{flight.flightCode}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-danger" title="Delete" ng-click="ctrl.deleteFlight()">
                            <i class="fas fa-user-minus"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>