<div class="container">
    <div class="row">
        <div class="mx-auto">
            <h2>Reservations</h2>
        </div>
    </div>
    <div class="row" ng-if="ctrl.msg">
        <div class="mx-auto">
            <p class="text-danger">{{ctrl.msg}}</p>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto">
            <button class="btn-dark d-inline-block" ng-if="ctrl.page != 1">
                <i class="fas fa-angle-left" ng-click="ctrl.getPrevPage()"></i>
            </button>
            <p class="d-inline-block">{{ctrl.page}}</p>
            <b class="btn-dark d-inline-block" ng-if="ctrl.flightTourists.length != 0">
                <i class="fas fa-angle-right" ng-click="ctrl.getNextPage()"></i>
            </b>
        </div>
        <div class="col-12">
            <table class="table table-hover" ng-if="ctrl.flightTourists.length">
                <thead>
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Country</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">PESEL</th>
                    <th scope="col" class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tourist in ctrl.flightTourists">
                    <td>{{tourist.firstName}}</td>
                    <td>{{tourist.lastName}}</td>
                    <td>{{tourist.gender}}</td>
                    <td>{{tourist.country}}</td>
                    <td>{{tourist.notes}}</td>
                    <td>{{tourist.birthDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{tourist.pesel}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-danger" title="Delete" ng-click="ctrl.removeTourist(tourist)">
                            <i class="fas fa-user-minus"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" ng-if="!ctrl.flightTourists.length">
                <h1>No registered tourists</h1>
            </div>
        </div>
    </div>
</div>